<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@user), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @user.name %></h1>

        <% if @user == current_user %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
        <% end %>
        <div class="follow-btn">
          <%= render 'relationships/follow_button', user: @user %>
        </div>
      </div>
      <div class="profile-status">
        <p class="profile-text mr-5">投稿数<span class="font-weight-bold num">10</span>件</p>
        <p class="profile-text mr-5">フォロー中<span class="font-weight-bold num"><%= @count_followings %></span>人</p>
        <p class="profile-text">フォロワー<span class="font-weight-bold num"><%= @count_followers %></span>人</p>
      </div>
    </div>
  </div>
</div>