<!DOCTYPE html>
<html>
  <head>
    <title>Youstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'partial/navbar' if current_user %>
    
      <%= render 'partial/flash_messages' %>

      <%= yield %>

      <%= render 'partial/footer' %>
    </div>
  </body>
</html>
